.wrapper{
    padding: 10%;
    padding-top: 50px;
}
*{
    box-sizing: border-box;
    font-family: "museo-sans-rounded";
}
a{
    color: unset;
    text-decoration: none;
    opacity: 0.5;
}
a:hover{
    opacity: 1;
}
/* .wrapper{
    margin-top: 10%;
} */
#buttonsDiv{
    position: absolute;
    right: 0 ;
    top: 0px;
    vertical-align: middle;
}
#buttonsDiv i{
    /* display: block; */
}
.social-icon{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
    padding: 3px;
}
.social-icon:hover{
    transform: scale(1.2);
    transform-origin: 50% 50%;
}
#info-icon{
    padding: 4px;
    margin: 0 auto;
    text-align: right;
    display: inline-block;
    font-size: 36px;
    color: #D32A08;
    margin-bottom: -16px;
    background-color: white;
    width: fit-content;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
#info-icon:hover{
    transform: scale(1.2);
    transform-origin: 50% 50%;
    color: black;
}
h2.title{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
    border-left: #D32A08 6px solid;
    padding-left: 10px;
    height: 24px;
}
p.subtitle{
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 10px;
    max-width:650px;
    white-space: nowrap;
    text-shadow: none;
}
.info{
    position: relative;
    z-index: 49;
    margin: 0% auto;
    margin-top: 40px;
    width: 80%;
    border-bottom: #ddd 1px solid;
}


.face-line{
    fill:none;
    stroke:#000000;
    stroke-width:12;
    stroke-linecap:round;
    stroke-miterlimit:10;
}
.type{
    font-family:'Merriweather';
    font-size:111.0161px;
    letter-spacing:-3;
    text-shadow: white 0px 0px 4px;
    stroke: white;
    stroke-width: 0.5px;
}

#svgDiv{
    display: inline-block;
    width: 35%;
    /* padding: 0 10%; */
    margin-right: 10%;
    vertical-align: top;
}

#colon{
    position: relative;
    /* transform: matrix(0, 1, -1, 0, 112.8842, 134.6087) */
}
#listDiv{
    display: inline-block;
    width: 55%;
    padding-top: 17%;
    vertical-align: top;
    transition: all 0.3s ease-in-out;
    margin: auto;
}


ul { 
    width: 100%;
    /* border-bottom: 1px #000 solid; */
    padding: 10px;
    margin: auto;
    font-size: 26px;
    max-height: 300px;
    max-width: 500px;
    margin-left: 5%;
    overflow: auto;
    transition: all 0.1s ease-in-out;
    background: black;
    z-index: 10;
    position: relative;
}

ul:focus, li:focus{
    /* outline: none; */
}
.openlist{
    /* border-radius: 5px; */
    border: 1px #000 solid;
    background: black;
} 

ul li { 
    padding: 9px 10px;
    z-index: 2;
    margin: 0; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-overflow: ellipsis;
}
ul li:not(.init) {
    width: auto; 
    display: none; 
    background: white; 
}
ul li.selected:not(.init){
    color: #999
}
ul li:not(.init):hover{
    background: #111;
    color: white; 
}

li.init {
    cursor: pointer;
    padding: 5px 10px;
    background: white;
    color: black;
    /* font-weight: 900; */
    font-size: 36px;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* width */
::-webkit-scrollbar {
    display: none;
    width: 15px;
    padding: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
    margin-left: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #eee; 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd; 
}


#info-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 370px;
    max-height: 100vh;
    margin: auto;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.85);
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4); */
    width: 800px;
    max-width: 100%;
    z-index: 100;
    border: white 6px solid;
    overflow: auto;
    /* border-radius: 5px; */
}
.closed{
    display: none;
}

p{
    margin-bottom: 14px;
}
.credit-p{
    padding-top: 14px;
    border-top: #eee 1px solid;
}
h1{
    margin: 12px 0;
}
.col{
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    color:white;
}
.left-col{
    width:60%;
}
.right-col{
    width: 40%;
}

.col p{
    font-size: 14px;
    line-height: 1.3em;
    text-shadow: none;
}
.col h1{
    font-size: 16px;
    text-shadow: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
  }

  .close-btn{
      font-size: 18px;
      padding: 5px;
      color: white;
      position: fixed;
      top:10px;
      right:20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
  }
  .close-btn:hover{
      transform: scale(1.2);
      transform-origin: 50% 50%;
  }

.footer{
    position: fixed;
    left: 10%;
    bottom:0;
    height:25px;
    margin:0;
    background: black;
}
.copyright{
    text-align: left;
    background: black;
    color: white;
    padding: 5px;
    font-size: 12px;
    margin: 0;
    width:120px;
    padding:5px 5px 5px 8px;
    z-index: 0;
}

html, body {
    height: 100%;
    margin: 0;
  }
.wrap-all {
    min-height: 100%;
}


@media only screen and (max-width: 1000px) and (min-width: 700px){
    ul{
        font-size: 18px;
        margin-left: unset;
    }
    li.init{
        font-size: 24px;
        height: 36px;
    }
    #svgDiv{
        width: 40%;
        margin-right: 10%;
    }
    #listDiv{
        width: 50%;
        padding-top: 19%;
    }
    p.subtitle{
        font-size: 50px;
    }

}


@media only screen and (max-width: 700px) {
    #info-modal{
        height: 500px;
    }
    .col{
        width:100%;
    }
    .right-col{
        padding-top: 0;
    }
    .left-col{
        padding-bottom: 0;
    }
    .info{
        width: 92%;
    }
    #svgDiv{
        width:100%;
        margin:0;
    }
    #listDiv{
        width:100%;
        max-width: unset;
        padding-top: 0;
        /* background: red; */
        margin-top: -10%;
        margin-bottom: 70px;
    }
    ul{
        margin-left: 0;
    }
    p.subtitle{
        font-size: 42px;
        white-space: pre-wrap;
    }
    .footer{
        position: unset;
        margin-top: -25px;
    }
    .copyright{
        width:100%;
        text-align: center;
    }
}
@media only screen and (max-width: 500px) {
    p.subtitle{
        font-size: 28px;
        white-space: pre-wrap;
    }

    ul{
        font-size: 14px;
    }
    li.init{
        font-size: 18px;
        height: 28px;
    }
    .wrapper{
        padding: 0 12%;
    }
}